// Text
//
// Related settings is locatted at "bootstrap/utilities/_text.scss"
//
// Related settings is locatted at "bootstrap/_variables.scss" Typography section
// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $font-size-sm:                $font-size-base * .875 !default; // 14px
// $font-size-lg:                $font-size-base * 1.25 !default; // 20px
// $font-size-xl:                $font-size-base * 1.5 !default; // 24px
// $font-size-2xl:               $font-size-base * 1.75 !default; // 28px
// $font-size-3xl:               $font-size-base * 2 !default; // 32px
// $font-size-4xl:               $font-size-base * 2.5 !default; // 40px
// $font-size-5xl:               $font-size-base * 3 !default; // 48px

.font-size {
    &-sm {
        font-size: $font-size-sm;
    }
    &-base {
        font-size: $font-size-base;
    }
    &-lg {
        font-size: $font-size-lg;
    }
    &-xl {
        font-size: $font-size-xl;
    }
    &-2xl {
        font-size: $font-size-2xl;
    }
    &-3xl {
        font-size: $font-size-3xl;
    }
    &-4xl {
        font-size: $font-size-4xl;
    }
    &-5xl {
        font-size: $font-size-5xl;
    }
    &-md {
        @include media-breakpoint-up(md) {
            &-sm {
                font-size: $font-size-sm;
            }
            &-base {
                font-size: $font-size-base;
            }
            &-lg {
                font-size: $font-size-lg;
            }
            &-xl {
                font-size: $font-size-xl;
            }
            &-2xl {
                font-size: $font-size-2xl;
            }
            &-3xl {
                font-size: $font-size-3xl;
            }
            &-4xl {
                font-size: $font-size-4xl;
            }
            &-5xl {
                font-size: $font-size-5xl;
            }
        }
    }
    &-lg {
        @include media-breakpoint-up(lg) {
            &-sm {
                font-size: $font-size-sm;
            }
            &-base {
                font-size: $font-size-base;
            }
            &-lg {
                font-size: $font-size-lg;
            }
            &-xl {
                font-size: $font-size-xl;
            }
            &-2xl {
                font-size: $font-size-2xl;
            }
            &-3xl {
                font-size: $font-size-3xl;
            }
            &-4xl {
                font-size: $font-size-4xl;
            }
            &-5xl {
                font-size: $font-size-5xl;
            }
        }
    }
}
.font-weight {
    &-lg {
        @include media-breakpoint-up(lg) {
            &-medium {
                font-weight: $font-weight-medium;
            }
        }
    }
}

.text-decoration {
    &-underline {
        text-decoration: underline;
    }
}